html{
    font-size: 62.5%;
}

body{
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    background-color: #000;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.keyboard{
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 1.5rem;
    background-color: #555;
    box-shadow: 0 0 15px 5px #555;
}

.row button{
    display: inline-flex;
    border: 1px solid #ccc;
    margin: 1px;
    padding: 2.5rem;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #fff;
}

.row .green{
    background-color: rgba(0, 240, 28, 0.6);
}

.row .green:active{
    background-color: rgb(7, 255, 36);
}

.row .purple{
    background-color: rgba(124, 50, 193, 0.463);
}

.row .purple:active{
    background-color: rgb(132, 0, 255);
}

.row .blue{
    background-color: powderblue;
}

.row .blue:active{
    background-color: rgb(0, 225, 255);
}

.row .red{
    background-color: tomato;
}

.row .red:active{
    background-color: rgb(255, 38, 0);
}

.row .yellow{
    background-color: rgb(192, 192, 62);
}

.row .yellow:active{
    background-color: yellow;
}

button[data-key-type="special"]{
    width: auto;
    padding: 2.5rem 3rem;
}

.one button[data-key-type="special"]{
    width: 11rem;
}

.three button[data-key-type="special"]{
    width: 10.7rem;
}

.four button[data-key-type="special"]{
    width: 13.4rem;
}

button[data-key-type="space"]{
    width: 42.6rem;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (max-width: 970px) {
    .row button{
        padding: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1rem;
    }

    button[data-key-type="special"]{
        width: auto;
    }

    .one button[data-key-type="special"]{
        width: 7rem;
    }

    .two button[data-key-type="special"]{
        width: 5.3rem;
    }

    .three button[data-key-type="special"]{
        width: 7.2rem;
    }

    .four button[data-key-type="special"]{
        width: 9rem;
    }

    .five button[data-key-type="special"]{
        width: 5.3rem;
    }

    button[data-key-type="space"]{
        width: 33.2rem;
    }
}


#typing-content{
    color: #fff;
    text-align: center;
    padding: 5rem;
    margin: 5rem 8rem;
    font-size: 2.5rem;
}

@media screen and (max-width: 970px) {
    #typing-content{
        font-size: 1.8rem;
        margin: 3rem 4rem;
        padding: 4rem;
    }
}